<?php if ($error_warning) { ?>
<div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?></div>
<?php } ?>
<!-- SA begin -->
<?php if ($payment_methods) { ?>
  <?php foreach ($payment_methods as $payment_method) { ?>
    <div class="radio">
      <label>
        <?php if ($payment_method['code'] == $code || !$code) { ?>
          <?php $code = $payment_method['code']; ?>
          <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" title="<?php echo $payment_method['title']; ?>" checked="checked" />
        <?php } else { ?>
          <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" title="<?php echo $payment_method['title']; ?>" />
        <?php } ?>
        <?php echo $payment_method['title']; ?></label>
    </div>
  <?php } ?>
<?php } ?>
<!-- SA end -->