<?php echo $header; ?>
<div class="container">
	<?php echo $content_top; ?>
  <div class="col-sm-12  content-row">
  		<div class="breadcrumb-box">
	  <ul class="breadcrumb">
	    <?php foreach ($breadcrumbs as $count => $breadcrumb) { ?>
    		<?php if($count == 0) { ?>
    			<li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    		<?php } elseif($count+1<count($breadcrumbs)) { ?>
    			<li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    		<?php } else { ?>
    			<li><span><?php echo $breadcrumb['text']; ?></span></li>
    		<?php } ?>
    	<?php } ?>
	  </ul>
  </div>
	  	<div class="row">
		  <div class="col-sm-12">
			  <h1 class="cat-header"><?php echo $text_my_account; ?></h1>
		  </div>
	  </div>
	  <?php if ($success) { ?>
	  <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?></div>
	  <?php } ?>
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>">
      <ul class="list-unstyled">
        <li><a href="<?php echo $edit; ?>"><?php echo $text_edit; ?></a></li>
        <li><a href="<?php echo $password; ?>"><?php echo $text_password; ?></a></li>
        <li><a href="<?php echo $payment; ?>"><?php echo $text_payment; ?></a></li>
      </ul>
      <h2><?php echo $text_my_tracking; ?></h2>
      <ul class="list-unstyled">
        <li><a href="<?php echo $tracking; ?>"><?php echo $text_tracking; ?></a></li>
      </ul>
      <h2><?php echo $text_my_transactions; ?></h2>
      <ul class="list-unstyled">
        <li><a href="<?php echo $transaction; ?>"><?php echo $text_transaction; ?></a></li>
      </ul>
      </div>
    <?php echo $column_right; ?></div>
</div><?php echo $content_bottom; ?></div>
<?php echo $footer; ?>